.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .player-info input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .player-info .name-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .player-info .symbol-selection {
    display: flex;
    justify-content: center;
  }
  
  .player-info .symbol-selection button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 3em;
    font-weight: bold;
    background-color: #4392F1;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .player-info .symbol-selection button:first-child {
    background-color: #CD493A;
  }